.quiz__nav {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  position: fixed;
  top: 0;
  height: 5rem;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 0px 0.625rem #1f1f2718;
}

.quiz__nav__logo {
  font-size: 2rem;
  padding-right: 1.5rem;
  cursor: pointer;
}

.quiz__nav__text {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
